<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- bootstrap cdn -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title>Vue</title>
</head>

<body>

  <div id="app">
    <header>
      <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
        <div class="container">
          <a class="navbar-brand" href="#">
            Vue
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left Side Of Navbar -->
            <ul class="navbar-nav mr-auto">

            </ul>

            <!-- Right Side Of Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Authentication Links -->

            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </header>

    <main class="py-4">
      <div class="container">
        <div class="row justify-content-center">

          <div class="col-md-10">

            <!-- button add - edit -->
            <div class="d-flex justify-content-end">
              <button class="btn btn-success mb-3" :class="addStyles"
                @click="isAdd = !isAdd">{{ isAdd ? 'Close Add' : 'Add Student' }}</button>
            </div>

            <!-- add form -->
            <div class="row justify-content-center" v-if="isAdd">
              <div class="col-md-8">
                <div class="card card-default my-5">
                  <div class="card-header">
                    <h1 class="text-center">Add new student</h1>
                  </div>

                  <div class="card-body">
                    <form id="">

                      <div class="form-group">
                        <label for="name">Name: </label>
                        <input class="form-control" name="name" type="text">
                      </div>

                      <div class="form-group">
                        <label for="age">Age</label>
                        <input class="form-control" name="age" type="text">
                      </div>

                      <div class="form-group">
                        <label for="phoneNumber">Phone Number:</label>
                        <input class="form-control" name="phoneNumber" type="text">
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-success">
                          Add Student
                        </button>
                      </div>
                    </form>
                  </div>


                </div>
              </div>
            </div>

            <!-- list students -->
            <div class="card card-default">
              <div class="card-header">

                <h1 class="text-center">Students</h1>

              </div>

              <div class="card-body">
                <table class="table" v-if="students.length > 0">
                  <thead>

                    <th>STT</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Phone Number</th>

                  </thead>

                  <tbody v-for="(student,index) in students">

                    <tr>

                      <td>{{ index + 1 }}</td>
                      <td>{{ student.name }}</td>
                      <td>{{ student.age }}</td>
                      <td>{{ student.phone }}</td>

                    </tr>

                  </tbody>

                </table>

                <h2 class="text-center" v-else>No student yet</h2>
              </div>
            </div>
          </div>

        </div>
      </div>
    </main>
  </div>




  <!-- vue -->
  <script src="libs/vue.js"></script>

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>

  <!-- bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

  <!-- libs -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.min.js"></script>

  <!-- main script -->
  <script src="js/main.js"></script>
</body>

</html>